# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / IDE
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/local.properties
/android/build/
/android/key.properties
*.jks
*.keystore

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/App.framework
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Flutter/ephemeral/*
!/ios/Flutter/ephemeral/Packages/
!/ios/Flutter/ephemeral/Packages/**
!/ios/Flutter/ephemeral/flutter_lldbinit
!/ios/Flutter/ephemeral/flutter_lldb_helper.py

# macOS
/macos/Flutter/ephemeral/
/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
/windows/flutter/ephemeral/

# Linux
/linux/flutter/ephemeral/

# Secrets
.env

# Cursor
.cursor/
